* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 0 16px;
    background-color: #141414;
    color: white;

}

#busca {
    text-align: center;
    margin-top: 5px;
}

#linha-busca {
    display: flex;
    gap: 12px;
    justify-content: center;
}

.card-filme {
    background-color: #1f1f1f;
    padding: 12px;
    border-radius: 10px;
}

.card-filme img {
    max-width: 100%;
    height: auto;
}

.card-filme h3 {
    font-size: 16px;
    font-weight: 600;
}

.card-filme p {
    color: #facc15;
    font-weight: 600;
}

#iptfilme {
    background-color: #1f1f1f;
    color: white;
    border: 1px solid #7c3aed;
    padding: 6px 12px;
    border-radius: 10px;
}

button {
    background-color: #7c3aed;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 10px;
}

#res {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 15px;
}

.msg-vazio {
    text-align: center;
    grid-column: 1 / -1;
    font-size: 20px;
}

.btn-favoritar {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:black;
}

.favoritado {
    color: yellow;
}